html {
/*    height: 100vw;
    width: 100vw;*/
    background: white;
/*    height: 100%;*/
    background-size: cover;
    background-position: center bottom;
}

.book-container {
    width: 300px;
    height: 300px;
    display: inline-block;
    margin-top: 10px;
    vertical-align: top;
    overflow: hidden;
    margin-left: 5px;
    margin-right: 5px;
    outline: 1px solid #808080;
    box-shadow: 3px 3px 1px 0px #ccc;
    background-color: white;
    transition: height .25s ease-in-out, width .25s ease-in-out, margin-top .25s ease-in-out, margin-left .25s ease-in-out, margin-right .25s ease-in-out, margin-bottom .25s ease-in-out, outline .25s ease-in-out, box-shadow .25s ease-in-out;
}
.thumbnail-container {
    height: 190px;
    display: block;
    text-align: center;
    width: 250px;
    overflow: hidden;
    margin: 10px auto;
}

.hover-container {
    display: block;
    width: 260px;
    overflow: hidden;
    margin: 0px auto 10px;
    padding: 5px;
    text-align: left;
    max-height: 60px;
    color: #808080;
}

.list {
    text-align: center;
    min-height: 800px;
    margin-bottom: 10px;
}

.title-element {
    text-align: left;
    padding: 5px;
    width: 260px;
    margin: auto;
    color: #808080;
    font-weight: bold;
    max-height: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.publisher-element {
    max-height: 35px;
    overflow: hidden;
    padding-bottom: 4px;
}

.author-element {
    max-height: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-style: italic;
    padding-bottom: 5px;
}

.book-container:hover {
    width: 305px;
    height: 305px;
    transition: height .25s ease-in-out, width .25s ease-in-out, margin-top .25s ease-in-out, margin-left .25s ease-in-out, margin-right .25s ease-in-out, margin-bottom .25s ease-in-out, outline .25s ease-in-out, box-shadow .25s ease-in-out;
    margin-top: 7px;
    margin-left: 3px;
    margin-right: 2px;
    margin-bottom: -3px;
    outline: 1px solid black;
    box-shadow: 3px 3px 2px 0px #808080;
}

.search-box {
    background: white url('./google_watermark.gif') no-repeat;
    background-position: left;
    border: 1px solid #999999;
    height: 18px;
    padding: 5px;
    width: 290px;
}

.title {
    text-align: center;
    display: inline-block;
    margin-top: 150px;
    color: white;
    text-transform: uppercase;
    font-family: futura;
}

.search-box-form {
    text-align: center;  
}

.search-box:focus {
    outline-color: #fdec00;
}

.Search {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1)), url(./book.jpg);
    height: 480px;
    background-size: cover;
    text-align: center;
}
.api-link-block {
    display: block;
    text-decoration: unset;
    background: linear-gradient(rgba(55, 55, 55, 0.7), rgba(55, 55, 55, .8)), url(./googleBooksLink.jpg);
    height: 200px;
    line-height: 200px;
    color: white;
    font-family: futura;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 10px;
    background-size: cover;
    transition: font-size .5s ease-in-out;
}
.api-link-block:hover {
    font-size: 35px;
    transition: font-size .5s ease-in-out;
}
.footer {
  text-align: center;
  background-color: #403f45;
  padding: 20px 0px;
  color: #fdec00;
}
.footer-link {
  text-decoration: none;
  color: #fdec00;
  transition: font-weight .25s ease-in-out;
}
.footer-link:hover {
  font-weight: bold;
  transition: font-weight .25s ease-in-out;
}




